# 🔑 Секреты и окружение
.env
.env.local
.env.*.local

# 🐍 Виртуальные окружения
venv/
env/
.venv/

# 📦 Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# 🐘 Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/
static/assets/

# 💻 IDE и редакторы
.vscode/
.idea/
*.swp
*.swo
*~

# 🍏 OS
.DS_Store
Thumbs.db

# 🐳 Docker
.dockerenv
docker-compose.override.yml

# 🧪 Тесты и покрытия
.pytest_cache/
htmlcov/
.coverage
.coverage.*
.tox/
mypy_cache/
ruff_cache/